.londrina-sketch-regular {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: rgb(76, 94, 77);

  button {
    border: 1px solid rgb(51, 51, 51);
  }
}
  
.light {
  background-color: rgb(205, 223, 205);

  button {
    border: 1px solid rgb(51, 51, 51);
  }
}

.funky {
  background-image: url(/Users/julia/Desktop/KOD/JAVASCRIPT3/PROJEKT/e-wallet/images/codioful-formerly-gradienta-rKv4HduvzIE-unsplash.jpg);
  
  button {
    border: 1px solid rgb(51, 51, 51);
  }
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddNewCardContainer {
  display: flex;
  flex-direction: column;
  place-items: center;

  form {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    
    label {
      margin: 10px 0px;
      display: flex;
      justify-content: space-between;

      input {
        margin-left: 20px;
      }
    }

    button {
      margin-top: 20px;
    }
  }

}

.CardInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    
    label {
      margin: 10px 0px;
      display: flex;
      justify-content: space-between;

      input {
        margin-left: 20px;
      }
    }

    button {
      margin: 20px 6px 0px 6px;
      
    }
  }

}

h1 {
  font-size:5em;
  font-family: Londrina Sketch;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
}

