.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .prompt-bold {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
 
  

.Card {
    background-color: rgba(207, 195, 195, 0.083);
    color: rgb(38, 38, 38);
    width: 30rem;
    border: 2px solid rgb(35, 35, 35);
    min-height: 18rem;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;

}

.CardGlobalPay {
    background-image: url("/Users/julia/Desktop/KOD/JAVASCRIPT3/PROJEKT/e-wallet/images/cesar-couto-ChwzGlq8OlA-unsplash (1).jpg");
    color: rgb(39, 39, 39);
    border: 2px solid rgb(35, 35, 35);
    width: 30rem;
    margin: 12px;
    min-height: 18rem;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    h2 {
        font-family:"Prompt";
        color: rgb(39, 39, 39);
        font-weight: 700;
        font-size: 2em;
    }
}

.CardFlexiCard {
    background-image: url("/Users/julia/Desktop/KOD/JAVASCRIPT3/PROJEKT/e-wallet/images/background-texture-green.jpg");
    color: rgb(39, 39, 39);
    border: 2px solid rgb(35, 35, 35);
    width: 30rem;
    margin: 12px;
    min-height: 18rem;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    h2 {
        font-family:"Bebas Neue";
        color: rgb(39, 39, 39);
        font-size: 2em;
    }

}

.CardTitanCredit {
    background-image: url("/Users/julia/Desktop/KOD/JAVASCRIPT3/PROJEKT/e-wallet/images/luke-chesser-tgrBcf7S_dY-unsplash (2).jpg");
    color: rgb(39, 39, 39);
    width: 30rem;
    border: 2px solid rgb(35, 35, 35);
    margin: 12px;
    min-height: 18rem;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    h2 {
        font-family:"Orbitron";
        color: rgb(39, 39, 39);
        font-size: 2em;
    }
}

.CardExpire, .CardCcv, .CardOwner {
    margin-bottom: 8px;
    margin-top: 4px;
}

.CardIssuer {
    display: flex;
    color: rgb(39, 39, 39);
    justify-content: flex-end;
    margin-right: 12px;
}

.CardNumber {
    font-size: 2em;
    margin-left: 24px;
    margin-bottom: 0;
    color:rgb(39, 39, 39);
    display: flex;
    justify-content: flex-start;
}

.CardOwner {
    color:rgb(39, 39, 39);
    margin-left: 24px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.4em;
}

.CardExpireCcvContainer {
    display: flex;
    justify-content: space-between;
}

.CardCcv {
    color:rgb(39, 39, 39);
    margin-right: 24px;
    font-weight: bold;
}

.CardExpire {
    margin-left: 24px;
    font-weight: bold;
}

p {
    color:rgb(39, 39, 39);
}